<br>
<h1>Editar usuarios</h1>
<br>
<form>
  <div class="form-group">
    <label >Nombre Usuario</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter user">
    <small id="userhelp" class="form-text text-muted">We'll never share your user with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Apellido</label>
    <input type="text" class="form-control" placeholder="lastname">
  </div>
  <button type="submit" class="btn btn-primary">Editar</button>
</form>
